# Ambiente virtual Python
.venv/
venv/
env/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Backups
*.bak
*.backup
*.old

# Arquivos temporários
*.tmp
*.temp

# IDE
.idea/
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários do sistema
*.swp
*.swo
